[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
[submodule "libs/LoadOBJ"]
	path = libs/LoadOBJ
	url = https://github.com/Vallentin/LoadOBJ
